<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>J2EEProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  
 <servlet>
 <description></description>
 <display-name>AdminLoginServlet</display-name>
 <servlet-name>AdminLoginServlet</servlet-name>
 <servlet-class>AdminLoginServlet</servlet-class>
 </servlet>
 
 <servlet>
 <description></description>
 <display-name>VoterLoginServlet</display-name>
 <servlet-name>VoterLoginServlet</servlet-name>
 <servlet-class>VoterLoginServlet</servlet-class>
 </servlet>
 
 <servlet>
 <description></description>
 <display-name>VoterRegisterServlet</display-name>
 <servlet-name>VoterRegisterServlet</servlet-name>
 <servlet-class>VoterRegisterServlet</servlet-class>
 </servlet>
 
 <servlet>
 <description></description>
 <display-name>AddSurveyServlet</display-name>
 <servlet-name>AddSurveyServlet</servlet-name>
 <servlet-class>AddSurveyServlet</servlet-class>
 </servlet>

 <servlet>
 <description></description>
 <display-name>RemoveSurveyServlet</display-name>
 <servlet-name>RemoveSurveyServlet</servlet-name>
 <servlet-class>RemoveSurveyServlet</servlet-class>
 </servlet>
 
  <servlet>
 <description></description>
 <display-name>VoterServlet</display-name>
 <servlet-name>VoterServlet</servlet-name>
 <servlet-class>VoterServlet</servlet-class>
 </servlet>
 
   <servlet>
 <description></description>
 <display-name>AddVoteServlet</display-name>
 <servlet-name>AddVoteServlet</servlet-name>
 <servlet-class>AddVoteServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>AdminLoginServlet</servlet-name>
 <url-pattern>/AdminLoginServlet</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
 <servlet-name>VoterLoginServlet</servlet-name>
 <url-pattern>/VoterLoginServlet</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
 <servlet-name>VoterRegisterServlet</servlet-name>
 <url-pattern>/VoterRegisterServlet</url-pattern>
 </servlet-mapping>
 
   <servlet-mapping>
 <servlet-name>AddSurveyServlet</servlet-name>
 <url-pattern>/AddSurveyServlet</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
 <servlet-name>RemoveSurveyServlet</servlet-name>
 <url-pattern>/RemoveSurveyServlet</url-pattern>
 </servlet-mapping>
 
   <servlet-mapping>
 <servlet-name>VoterServlet</servlet-name>
 <url-pattern>/VoterServlet</url-pattern>
 </servlet-mapping>
 
    <servlet-mapping>
 <servlet-name>AddVoteServlet</servlet-name>
 <url-pattern>/AddVoteServlet</url-pattern>
 </servlet-mapping>
 
</web-app>
